<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<style>
    body {
        font-size: 20px;
        font-weight: bold;
    }
</style>

<body>
    {{!-- <div>仲晓艳做的菜，{{message}}{{message}}</div> --}}
    <div>李总牛逼啊</div>
    <img
        src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg.yxad.cn%2Fimages%2F20200215%2F8cdd0cb52e974b36bb694e09783acba6.jpeg&amp;refer=http%3A%2F%2Fimg.yxad.cn&amp;app=2002&amp;size=f9999,10000&amp;q=a80&amp;n=0&amp;g=0n&amp;fmt=jpeg?sec=1611921634&amp;t=9eb3057126ecf40b504f4070d6ed4d45">
</body>

</html>